#playground {
    --width: 200px;
    --height: 400px;
    --default-color: #eee;
    --highlight-color: #555;
    --food-color: red;
  
    border: 1px solid var(--default-color);
  
    width: var(--width);
    height: var(--height);
  
    display: flex;
    flex-wrap: wrap;
  }
  
  .cell {
    box-sizing: border-box;
    border: 1px solid var(--default-color);
    position: relative;
  
    width: var(--cell-width);
    height: var(--cell-height);
  }
  
  .cell::before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: var(--default-color);
  }
  
  .cell.hl {
    border-color: var(--highlight-color);
  }
  
  .cell.hl::before {
    background: var(--highlight-color);
  }
  